interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://search.dip.bundestag.de/api/v1/vorgang?f.datum.end=2026-09-01&f.datum.start=2026-09-01
  response:
    body:
      string: "{\"numFound\":23,\"documents\":[{\"id\":\"338726\",\"abstract\":\"(insgesamt
        17 Einzelfragen)\",\"beratungsstand\":\"Beantwortet\",\"vorgangstyp\":\"Kleine
        Anfrage\",\"sachgebiet\":[\"Au\xDFenpolitik und internationale Beziehungen\"],\"typ\":\"Vorgang\",\"wahlperiode\":21,\"initiative\":[\"Fraktion
        der AfD\"],\"aktualisiert\":\"2026-09-28T07:11:07+02:00\",\"deskriptor\":[{\"fundstelle\":false,\"name\":\"Asylbewerber\",\"typ\":\"Sachbegriffe\"},{\"fundstelle\":false,\"name\":\"B\xFCrgerkrieg\",\"typ\":\"Sachbegriffe\"},{\"fundstelle\":true,\"name\":\"Christentum\",\"typ\":\"Sachbegriffe\"},{\"fundstelle\":false,\"name\":\"Entwicklungszusammenarbeit\",\"typ\":\"Sachbegriffe\"},{\"fundstelle\":false,\"name\":\"Fl\xFCchtling\",\"typ\":\"Sachbegriffe\"},{\"fundstelle\":false,\"name\":\"Fl\xFCchtlingshilfe\",\"typ\":\"Sachbegriffe\"},{\"fundstelle\":false,\"name\":\"Friedenssicherung\",\"typ\":\"Sachbegriffe\"},{\"fundstelle\":false,\"name\":\"Humanit\xE4re
        Hilfe\",\"typ\":\"Sachbegriffe\"},{\"fundstelle\":false,\"name\":\"Islamismus\",\"typ\":\"Sachbegriffe\"},{\"fundstelle\":true,\"name\":\"Jemen\",\"typ\":\"Geograph.
        Begriffe\"},{\"fundstelle\":false,\"name\":\"Menschenhandel\",\"typ\":\"Sachbegriffe\"},{\"fundstelle\":false,\"name\":\"Religi\xF6se
        Minderheit\",\"typ\":\"Sachbegriffe\"},{\"fundstelle\":true,\"name\":\"Religi\xF6se
        Verfolgung\",\"typ\":\"Sachbegriffe\"},{\"fundstelle\":false,\"name\":\"R\xFCckf\xFChrung
        ausreisepflichtiger Personen\",\"typ\":\"Sachbegriffe\"},{\"fundstelle\":false,\"name\":\"Sklaverei\",\"typ\":\"Sachbegriffe\"}],\"titel\":\"Lage
        der christlichen Minderheit im Jemen im Kontext des langj\xE4hrigen B\xFCrgerkriegs
        und der dschihadistischen Bedrohung\",\"datum\":\"2026-09-22\"},{\"id\":\"338728\",\"beratungsstand\":\"Beantwortet\",\"vorgangstyp\":\"Kleine
        Anfrage\",\"sachgebiet\":[\"Raumordnung, Bau- und Wohnungswesen\"],\"typ\":\"Vorgang\",\"wahlperiode\":21,\"initiative\":[\"Fraktion
        der AfD\"],\"aktualisiert\":\"2026-09-18T08:32:20+02:00\",\"deskriptor\":[{\"fundstelle\":false,\"name\":\"Datenerhebung\",\"typ\":\"Sachbegriffe\"},{\"fundstelle\":false,\"name\":\"Evaluation\",\"typ\":\"Sachbegriffe\"},{\"fundstelle\":false,\"name\":\"Gesetz
        zur Modernisierung des St\xE4dtebau- und Raumordnungsrechts\",\"typ\":\"Rechtsmaterialien\"},{\"fundstelle\":false,\"name\":\"Gesetzesfolgenabsch\xE4tzung\",\"typ\":\"Sachbegriffe\"},{\"fundstelle\":false,\"name\":\"Immobilien\",\"typ\":\"Sachbegriffe\"},{\"fundstelle\":false,\"name\":\"Kommunale
        Gebietsk\xF6rperschaft\",\"typ\":\"Sachbegriffe\"},{\"fundstelle\":false,\"name\":\"Vorkaufsrecht\",\"typ\":\"Sachbegriffe\"},{\"fundstelle\":false,\"name\":\"Wohnimmobilien\",\"typ\":\"Sachbegriffe\"}],\"titel\":\"Datengrundlage,
        Kosten und Erfolgskontrolle der Bundesinstrumente gegen Problemimmobilien\",\"datum\":\"2026-09-14\"},{\"id\":\"338795\",\"vorgangstyp\":\"EU-Vorlage\",\"typ\":\"Vorgang\",\"wahlperiode\":21,\"kom\":\"(2026)
        600 endg.\",\"initiative\":[\"Europ\xE4ische Kommission\"],\"aktualisiert\":\"2026-09-29T11:06:30+02:00\",\"deskriptor\":[{\"fundstelle\":false,\"name\":\"Netzentgelt\",\"typ\":\"Freier
        Deskriptor\"},{\"fundstelle\":false,\"name\":\"Stromnetz\",\"typ\":\"Sachbegriffe\"},{\"fundstelle\":true,\"name\":\"Strompreis\",\"typ\":\"Sachbegriffe\"},{\"fundstelle\":false,\"name\":\"Verordnung
        der EU\",\"typ\":\"Sachbegriffe\"}],\"titel\":\"Vorschlag f\xFCr eine Verordnung
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://search.dip.bundestag.de/api/v1/vorgang?cursor=recorded-cursor-1&f.datum.end=2026-09-01&f.datum.start=2026-09-01
  response:
    body:
      string: '{"numFound":23,"documents":[],"cursor":"recorded-cursor-1"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
